NEXT_PUBLIC_API_URL=http://localhost:4000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/my_progress_app?schema=public
DIRECT_URL=postgresql://postgres:postgres@localhost:5432/my_progress_app?schema=public
